Source: bifrost
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>=9),
 dh-python,
 nvidia-cuda-toolkit,
 exuberant-ctags,
 ctypesgen,
 python-all,
 python-numpy,
 python-contextlib2,
 python-pint,
 python-graphviz,
 python-matplotlib,
 python-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/ledatelescope/bifrost

Package: bifrost
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: stream processing framework for high-throughput applications
 Bifrost is a stream processing framework, created to ease the development of
 high-throughput processing CPU/GPU pipelines. It is specifically designed for
 digital signal processing (DSP) applications within radio astronomy. A
 portable C API is provided, along with C++ and Python wrappers.
